#===model2d_gen===

dataset/
scripts/
archive_configs/
images/


#===Unet===
lightning_logs/
img_logs/
testing_utils.py

#===python staff===

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/
.ENV/
env.bak/
venv3-9*/
*.env/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/
